@font-face {
    font-family:nostalgia;
    src: url(nostalgia.woff2);
}
@font-face {
    font-family: montserrat;
    src: url(Montserrat-VariableFont_wght.woff2);
}
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: montserrat;
}
#main{
    position: relative;
    overflow: hidden;
}
.page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color:#F6F7F0;
}
nav{
    height: 12vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    /* background-color:blue; */
    justify-content: space-between;
    padding: 0px 50px;
    padding-top: 1vw;
}
.nav-part1 img{
    height: 80px;
    width: 185px;
    /* background-color: rgb(206, 141, 141); */
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 42px;
}
.nav-part2 h4{
    font-size:0.8vw;
    color:#423a2f;
    font-weight: 550;
    position: relative;
    text-transform: uppercase;
}
.nav-part2 h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    height: 0.5px;
    width: 0%;
    border-radius: 10px;
    transition: all ease-in 0.5s;
}
.nav-part2 h4:hover::after{
    width: 100%;
}
.nav-part2 button{
    font-size: 0.7vw;
    font-weight:450;
    padding: 0.9vw 1.8vw;
    border-radius: 5px;
    background-color:#252524;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    position: relative;
}
.nav-part2 button::after{
    content: "";
    position: absolute;
    left: 17px;
    bottom: 7px;
    background-color: rgb(255, 255, 255);
    height: 0.5px;
    width: 0%;
    border-radius: 10px;
    transition: all ease-in 0.5s;
}
.nav-part2 button:hover::after{
    width: 72%;
}
.page1-center{
    height: calc(100vh - 12vh);
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}
.text{
    height: 17vh;
    width: 100vw;
    text-align: center;
    overflow: hidden;
}
.text h5{
    margin-top: 50px;
    font-size: 1vw;
    font-weight: 450;
}
.text h1{
    font-size: 7vw;
    letter-spacing: 2px;
    font-weight: 550;
}
.text h1 span{
    font-family: nostalgia;
}
.page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#F6F7F0;
}
.text-2{
    height: 80%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 100px;
    /* background-color: firebrick; */
}
.text-2 h4{
    position: relative;
    font-size: 14px;
    color: rgb(158, 158, 120);
    font-family: nostalgia;
    letter-spacing: 5px;
}
.text-2 h4::after{
    content: "";
    position: absolute;
    left: -2px;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color:rgb(158, 158, 120);
    border-radius: 20px;
    transition: all ease-in 0.5s;
}
.text-2 h4:hover::after{
    width: 100%;
}
.video-img{
    position: absolute;
    top: 10%;
    left: 33%;
    height: 69vh;
    width: 33vw;
    border-radius: 10px;
    overflow: hidden;
}
.round-img{
    position: absolute;
    z-index: 1;
    top: 1.5%;
    left:61.5%;
    height: 125px;
    /* background-color: yellow; */
    width: 125px;
}
.round-img>img{
    height: 130px;
    width: 130px;
}
.video-img>img{
    height: 100%;
    width: 100%;
}
.page2-txt{
    padding-top:4vw;
}
.page2-txt>p{
    padding: 0px 100px;
    font-size:13px;
    padding-bottom: 30px;
    font-weight: 500;
    color:black;
    text-align: center;    
}
.page3{
    height: 120vh;
    width: 100vw;
    background-color:#DBDACC;
    padding-top: 45px;
    position: relative;
}
.page3 h1{
    height: 20vh;
    width: 100vw;
    margin-top: 30px;
    font-size: 10vw;
    font-weight: 500;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: 8vw;
    color:#DBDACC;
    text-shadow: 2px 2px 4px rgb(188, 188, 164);
}
.page3 h1 span{
    text-transform:initial;
    font-size: 8vw;
    margin-bottom: 30px;
    letter-spacing: -2px;
    font-weight: 500;
    font-style: italic;
    font-family:nostalgia;
    text-shadow: 2px 2px 4px rgb(188, 188, 164);
}
.sign{
    height: 100px;
    width: 60px;
    position: relative;
    margin-top: 10vh;
    margin-left: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign i{
    font-size: 100px;
    font-weight: 1;
    color:#DBDACC;
    text-shadow: 2px 2px 4px rgb(188, 188, 164);}
.popup{
    height: 80vh;
    width: 50vw;
    position: absolute;
    top: 30vh;
    left: 25vw;
    overflow: hidden;
}
.firstpopup{
    height: 50%;
    width: 70%;
    position: absolute;
    bottom: -20%;
    right: 15%;
    background-color:#F6F7F0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    overflow: hidden;
    scale: 0.2;
}
.firstpopup h3{
    font-size:3vw;
    font-family: nostalgia;
    text-align: center;
    line-height:3.2vw;
    font-weight: 400;
}
.secondpopup{
    height: 50%;
    width: 70%;
    position: absolute;
    bottom: -20%;
    right: 15%;
    background-color:#F6F7F0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    overflow: hidden;
    scale: 0.5;
}
.secondpopup h3{
    font-size: 3vw;
    font-family: nostalgia;
    text-align: center;
    line-height:3.2vw;
    font-weight: 400;
}
.thirdpopup{
    height: 50%;
    width: 70%;
    position: absolute;
    bottom: -40%;
    right: 15%;
    background-color:#F6F7F0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    overflow: hidden;
    scale: 0.5;
}
.thirdpopup h3{
    font-size: 3.2vw;
    font-family: nostalgia;
    text-align: center;
    line-height:3vw;
    font-weight: 400;
}
.page4{
    height: 120vh;
    width: 100vw;
    position: relative;
}
.page4>img{
    height: 100%;
    width: 100%;
    background-position:bottom;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color:#8a8a7f73;
}
.outer-div{
    height: 85%;
    width: 52%;
    background-color: white;
    position:absolute;
    top: 15%;
    left: 24%;
    border-radius: 10px;
    padding: 25px;
}
.new{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 92%;
    top: -7%;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-transform: uppercase;
    transition: all ease-in 0.5s;
}
.new:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.img-div{
    height: 45%;
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
}
.img-div>img{
    height: 100%;
    width: 100%;
    transition: all ease-in 0.3s;
}
.img-div>img:hover{
    height: 104%;
    width: 104%;
}
.outer-div>h3{
    font-family: nostalgia;
    font-size: 3.3vw;
    margin-top: 70px;
    font-weight: 400;
    line-height: 3.8vw;
    text-align: center;
}
.outer-div>button{
    font-size: 12px;
    margin-top: 4vw;
    letter-spacing: 1px;
    margin-left: 38%;
    background-color:#636143;
    color:white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    padding: 1vw 2.2vw;
    box-shadow: 5px 5px 5px rgb(96, 91, 91);
}
.page5{
    height: 120vh;
    width: 100vw;
    background-color:#DBDACC;
    position: relative;
}
.page5-top{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.page5-top h5{
    font-size:11px;
    font-weight: 440;
    margin-bottom: 30vh;
}
.page5-mid{
    position: relative;
    padding: 0px 45px;
    height: 20vh;
    width: 100vw;
    margin-top: 10px;
    overflow: hidden;
}
.page5-mid h1{
    text-align: center;
    font-size: 15vh;
    font-weight: 550;
    letter-spacing: -2px;
}
.page5-mid h1 span{
    font-family: nostalgia;
}
.page5-mid2{
    height: 20vh;
    width: 100vw;
    margin-top: 10px;
    overflow: hidden;
}
.page5-mid2 h1{
    text-align: center;
    font-family: nostalgia;
    font-size: 13vh;
    font-weight: 550;
    letter-spacing: -2px;
}
.page6{
    padding-top: 5%;
    height: 120vh;
    width: 100vw;
    background-color: #DBDACC;
    position: relative;
}
.lines{
    height: 50vh;
    width: 100vw;
    position: relative;
}
.line1{
    height: 25vh;
    width: 100vw;
    position: relative;
    display: flex;
    white-space: nowrap;

}
.line1>h2{
    color:#DBDACC;
    text-shadow: 2px 2px 4px rgb(188, 188, 164);
    font-size: 10vw;
    font-weight: 550;
    text-transform: uppercase;
}
.line2{
    height: 25vh;
    width: 100vw;
    position: relative;
    display: flex;
    white-space: nowrap;
}
.line2>h2{
    color:#DBDACC;
    text-shadow: 2px 2px 4px rgb(188, 188, 164);
    font-size: 10vw;
    font-weight: 550;
    text-transform: uppercase;
}
.video-abso{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 10%;
    overflow: hidden;
}
.video-div{
    height: 50vh;
    width: 40vw;
    position:absolute;
    bottom:-75%;
    right:25%;
}
.video-div>video{
    height: 100%;
}
.video-div>video:hover{
    filter: grayscale(2);
    border-radius: 50%;
}
.page7{
    height: 120vh;
    width: 100vw;
    position: relative;
}
.page7>img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color:#bbbaae8d;
}
.overlay h2{
    text-align: center;
    font-size: 4vw;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    margin-top: 8%;
    letter-spacing: -1px;
}
.overlay h2 span{
    font-family: nostalgia;
    font-style: italic;
}
.arrowdiv{
    position: relative;
    margin-top: 50px;
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.arrowdiv i {
    font-size: 3vw;
    color: white;
    font-weight: 900;
}
.container{
    height: 100%;
    width: 65%;
    margin-left: 16%;
    background-color:#F6F7F0;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    height: 90%;
    width: 35%;
}
.left>img{
    margin: 10px 20px;
    height: 43vh;
    width: 15vw;
    border-radius: 50%;
    filter: grayscale(1);
}
.left>h3{
    font-size: 3.5vw;
    margin-top: 16px;
    margin-left: 50px;
    font-weight: 500;
    font-family: nostalgia;
}
.left>h6{
    margin-left: 45px;
    font-weight: 450;
    font-size: 8px;
    margin-top: -5px;
}
.right{
    height: 90%;
    width: 65%;
}
.right h4{
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 2vw;
    font-family:nostalgia;
    padding:  70px 20px ;
}
.page8{
    min-height: 120vh;
    width: 100vw;
    background-color:#DBDACC;
    position: relative;
    padding-bottom: 40px;
}
.page8 h5{
    padding: 80px 0px;
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    color: rgb(47, 45, 45);
}
.boxes{
    height: 75vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 20%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 70px;
}
.boxes-1{
    height: 75vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 20%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 70px;
}
.boxes-2{
    height: 75vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 20%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 70px;
}
.text-div{
    height: 100%;
    width: 60%;
    background-color:#F6F7F0;
    padding: 20px;
}
.text-div>h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    color: #635f5f;
}
.text-div>h3{
    margin-top: 20px;
    font-size: 3.9vw;
    font-weight: 400;
    font-family: nostalgia;
    line-height: 4vw;
}
.text-div>p{
    width: 80%;
    margin-top: 10px;
    font-size: 1vw;
}
.buttons{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    margin-left: 40px;
}
.buttons>button{
    padding: 16px 16px;
    border-radius: 3px;
    border: none;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #636143;
    color:#DBDACC;
}
#one{
    background-color: white;
    border: 0.7px solid #636143;
    color: #636143;
    padding: 16px 24px;
}
.pic-div{
    height: 100%;
    width: 40%;
}
.pic-div img{
    height: 100%;
    background-position: center;
    background-size: cover;
}
.page9{
    height: 135vh;
    width: 100vw;
    background-color:#DBDACC;
    position: relative;
    padding-top: 50px;
}
.lastbox{
    height: 95vh;
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxleft{
    height: 100%;
    width: 70%;
    position: relative;
}
.boxleft>img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.boxright{
    position: relative;
    height: 100%;
    width: 60%;
    padding: 30px 40px;
    background-color:#F6F7F0;
}
.circle{
    position:absolute;
    top: -8%;
    left: 90%;
    height: 115px;
    width: 115px;
}
.circle>img{
    height: 100%;
}
.boxright>h1{
    text-align: center;
    font-size:4vw;
    font-weight: 500;
    line-height: 4.5vw;
}
.boxright>p{
    margin: 30px 0px;
    text-align: center;
    font-size: 1.1vw;
}
.inputtype{
    display: flex;
    gap: 20px;
    padding-bottom: 25px;
}
#name{
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid #5b5858 ;
    font-weight: 400;
    font-size: 1vw;
    text-transform:capitalize;
    outline: none;
}
#email{
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid #393737 ;
    font-weight: 400;
    font-size: 1vw;
    text-transform:capitalize;
    outline: none;
}
.boxright>button{
    padding: 14px 70px;
    background-color: #636143;
    color: white;
    border: none;
    font-size: 1.2vw;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: poppins;
}
.boxright>h6{
    padding: 16px;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 400;
}
.footer{
    height: 15vh;
    width: 100vw;
    background-color:#DBDACC;
}
.footer-div{
    height:8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}
.f-one>img{
    height: 20px;
}
.f-two>h4{
    font-size: 0.9vw;
    font-weight: 450;
}
.f-three>h4{
    font-size: 0.9vw;
    font-weight: 450;
}
.f-four>h4{
    font-size: 1vw;
    font-weight: 450;
    text-transform: capitalize;
}
.f-five>img{
    height: 22px;
    padding-right: 50px;
}

